.topnav {
     display: block;
     color: black;
     text-align: center;
     text-decoration: none;
     position: fixed;
     float: left;
     width: 100%;
}
.topnav ul {
     list-style-type: none;
     margin: 0px;
     padding: 0px;
     overflow: hidden;
}
li {
     float: left;
}
li a {
     display: block;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}
.logo {
     padding-top: 170px;
     width: 100%;
     display:flex;
     justify-content: center;
}
.middle {
     margin-top: 30px;
     width: 100%;
     display:flex;
     justify-content: center;
     }
.searchbar > input:nth-child(1) {
     width: 500px;
     height: 30px;
     }
.buttons {
     margin: 30px;
     padding-left: 100px;
}